Repository copier-org/jinja2-jsonschema: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, poetry-check, poetry-check-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        require_serial: true
        types: [python]

      - id: isort
        name: isort
        entry: isort
        args: [--filter-files]
        language: system
        require_serial: true
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        args: [--force-exclude]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types: [python]

      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

      - id: poetry-check-lock
        name: poetry-check-lock
        entry: poetry lock --check
        language: system
        pass_filenames: false
        files: ^pyproject.toml|poetry.lock$

      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

      - id: check-merge-conflict
        name: check for merge conflicts
        entry: check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

ci: add runner architecture to cache key
  .github/workflows/tests.yml
Due: none

style: fix Ruff linter error
  tests/conftest.py
Due: black, isort, mypy

build: drop support for Python 3.7
  .github/workflows/tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  src/jinja2_jsonschema/extension.py
  tests/filter/test_local.py
  tests/filter/test_remote.py
  tests/test/test_local.py
  tests/test/test_remote.py
  tests/utils.py
Due: black, isort, mypy, poetry-check, poetry-check-lock

build: drop support for Python 3.8
  .github/workflows/tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

build: add support for Python 3.12
  .github/workflows/tests.yml
  pyproject.toml
Due: poetry-check, poetry-check-lock

build: add support for Python 3.13
  .github/workflows/tests.yml
  CHANGELOG.md
  pyproject.toml
Due: poetry-check, poetry-check-lock

build(deps): update lock file
  poetry.lock
Due: poetry-check-lock

test: use regex for expected error message for better robustness
  poetry.lock
  pyproject.toml
  tests/filter/utils.py
Due: black, isort, mypy, poetry-check, poetry-check-lock

build(typing): use future annotations and modern typing syntax
  pyproject.toml
  src/jinja2_jsonschema/__init__.py
  src/jinja2_jsonschema/errors.py
  src/jinja2_jsonschema/extension.py
  tests/conftest.py
  tests/filter/test_inline.py
  tests/filter/test_local.py
  tests/filter/test_remote.py
  tests/filter/utils.py
  tests/test/test_inline.py
  tests/test/test_local.py
  tests/test/test_remote.py
  tests/test/utils.py
  tests/test_extension.py
  tests/utils.py
Due: black, isort, mypy, poetry-check, poetry-check-lock

chore(ruff): enable all rules
  pyproject.toml
  src/jinja2_jsonschema/extension.py
  tests/conftest.py
  tests/filter/test_local.py
  tests/filter/test_remote.py
  tests/filter/utils.py
  tests/test/test_local.py
  tests/test/test_remote.py
  tests/test_extension.py
  tests/utils.py
Due: black, isort, mypy, poetry-check, poetry-check-lock

chore(ruff): fix Python target version
  pyproject.toml
  src/jinja2_jsonschema/extension.py
  tests/conftest.py
  tests/filter/utils.py
  tests/test/utils.py
  tests/utils.py
Due: black, isort, mypy, poetry-check, poetry-check-lock

chore(pre-commit): migrate config
  .pre-commit-config.yaml
Due: none

chore(deps-dev): remove pydocstyle
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

chore: migrate to `uv`
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

docs: fix typo in docstring
  src/jinja2_jsonschema/extension.py
Due: black, isort, mypy

refactor: resolve `$ref`s via the `referencing` library
  CHANGELOG.md
  pyproject.toml
  src/jinja2_jsonschema/extension.py
  uv.lock
Due: black, isort, mypy, poetry-check, poetry-check-lock

chore: prepare release v0.3.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore: add Renovate config
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  renovate.json
Due: none

ci(release): attempt avoiding duplicate deployments
  .github/workflows/release.yml
Due: none

chore(ruff): ignore `COM812` rule to avoid formatter conflicts
  pyproject.toml
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.4.24
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.7.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update python docker tag to v3.13
  .python-version
Due: none
