Repository copier-org/jinja2-jsonschema: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, poetry-check, poetry-check-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        args: [--force-exclude]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: ruff-check
        name: ruff lint
        entry: ruff check
        args: [--force-exclude, --fix]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types: [python]

      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

      - id: poetry-check-lock
        name: poetry-check-lock
        entry: poetry lock --check
        language: system
        pass_filenames: false
        files: ^pyproject.toml|poetry.lock$

      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: check for merge conflicts
        entry: check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

chore(deps): update dependency ruff to v0.9.9
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency pytest to v8.3.5
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.6.4
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

ci(release): use single quotes for strings in `if` condition
  .github/workflows/release.yml
Due: none

chore(config): migrate config renovate.json
  renovate.json
Due: none

style: re-format
  renovate.json
Due: none

chore(config): migrate renovate config
  renovate.json
Due: none

chore(deps): lock file maintenance
  uv.lock
Due: none

chore(deps): update dependency uv to v0.6.5
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.9.10
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.6.6
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.10.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

style: quote type expression in `typing.cast()` call
  tests/conftest.py
Due: mypy

chore(deps): update dependency ruff to v0.10.0
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: mypy, poetry-check, poetry-check-lock

chore(deps): update dependency ruff to v0.11.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.6.7
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.6.8
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency pre-commit to v4.2.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency ruff to v0.11.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.6.9
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.11.2
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(uv): configure installing all dependency groups with `default-groups = "all"`
  pyproject.toml
Due: poetry-check, poetry-check-lock

chore(renovate): replace custom config by `:maintainLockFilesMonthly` preset
  renovate.json
Due: none
