Repository copier-org/jinja2-jsonschema: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, poetry-check, poetry-check-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        args: [--force-exclude]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: ruff-check
        name: ruff lint
        entry: ruff check
        args: [--force-exclude, --fix]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types: [python]

      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

      - id: poetry-check-lock
        name: poetry-check-lock
        entry: poetry lock --check
        language: system
        pass_filenames: false
        files: ^pyproject.toml|poetry.lock$

      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: check for merge conflicts
        entry: check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

chore(deps): update dependency uv to v0.9.7
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.14.4
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.9.8
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

refactor: drop support for Python 3.9
  .github/workflows/tests.yml
  .python-version
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: mypy, poetry-check, poetry-check-lock

chore(deps): lock file maintenance
  uv.lock
Due: none

feat: add support for Python 3.14
  .github/workflows/tests.yml
  pyproject.toml
Due: poetry-check, poetry-check-lock

chore(deps): update dependency pre-commit to v4.4.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency pytest to v9
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency pytest to v9.0.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.9.9
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.14.5
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.9.10
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update actions/checkout action to v6
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore: prepare release v0.4.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.9.11
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.14.6
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency pre-commit to v4.5.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.9.13
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency mypy to v1.19.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency ruff to v0.14.7
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock
