Repository copier-org/jinja2-jsonschema: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, poetry-check, poetry-check-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        require_serial: true
        types: [python]

      - id: isort
        name: isort
        entry: isort
        args: [--filter-files]
        language: system
        require_serial: true
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        args: [--force-exclude]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types: [python]

      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

      - id: poetry-check-lock
        name: poetry-check-lock
        entry: poetry lock --check
        language: system
        pass_filenames: false
        files: ^pyproject.toml|poetry.lock$

      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

      - id: check-merge-conflict
        name: check for merge conflicts
        entry: check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

chore: prepare release v0.1.0
  CHANGELOG.md
  pyproject.toml
Due: poetry-check, poetry-check-lock

docs(README): use double-quotes
  README.md
Due: none

chore: remove obsolete linter disable comments
  src/jinja2_jsonschema/extension.py
  tests/test_extension.py
Due: black, isort, mypy

docs: add missing word
  tests/utils.py
Due: black, isort, mypy

docs(README): fix link to contribution guide
  README.md
Due: none

docs: use Ruff logo from shields.io
  README.md
Due: none

chore: rename Dependabot config file
  .github/dependabot.yml
Due: none

docs: add section on usage with Copier
  README.md
Due: none

docs(CHANGELOG): fix link to semantic versioning website
  CHANGELOG.md
Due: none

test: remove useless assertion
  tests/test_extension.py
Due: black, isort, mypy

test: refactor filter name conflict test
  tests/test_extension.py
Due: black, isort, mypy

feat: add Jinja2 test for validating data against JSON Schema
  CHANGELOG.md
  README.md
  src/jinja2_jsonschema/extension.py
  tests/filter/__init__.py
  tests/filter/test_inline.py
  tests/filter/test_local.py
  tests/filter/test_remote.py
  tests/filter/utils.py
  tests/test/__init__.py
  tests/test/test_inline.py
  tests/test/test_local.py
  tests/test/test_remote.py
  tests/test/utils.py
  tests/test_extension.py
  tests/utils.py
Due: black, isort, mypy

test(typing): remove obsolete type cast
  poetry.lock
  pyproject.toml
  tests/utils.py
Due: black, isort, mypy, poetry-check, poetry-check-lock

feat: add Jinja2 test for validating data against JSON Schema (#4)
  CHANGELOG.md
  README.md
  src/jinja2_jsonschema/extension.py
  tests/filter/__init__.py
  tests/filter/test_inline.py
  tests/filter/test_local.py
  tests/filter/test_remote.py
  tests/filter/utils.py
  tests/test/__init__.py
  tests/test/test_inline.py
  tests/test/test_local.py
  tests/test/test_remote.py
  tests/test/utils.py
  tests/test_extension.py
  tests/utils.py
Due: black, isort, mypy

chore: update to Poetry v1.5
  poetry.lock
Due: poetry-check-lock

chore: update to Poetry v1.5 (#7)
  poetry.lock
Due: poetry-check-lock

chore: prepare release v0.2.0
  CHANGELOG.md
  pyproject.toml
Due: poetry-check, poetry-check-lock

docs(README): use badge style `flat-square`
  README.md
Due: none

docs(README): capitalize labels in badges
  README.md
Due: none

docs(README): make "Python" badge a link
  README.md
Due: none

docs(README): show mypy mode in badge
  README.md
Due: none

chore: revert to Poetry v1.4 until Dependabot supports v1.5
  poetry.lock
Due: poetry-check-lock

chore: update to Poetry v1.5 (#16)
  poetry.lock
Due: poetry-check-lock

fix: make `typing-extensions` a runtime dependency
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

fix: make `typing-extensions` a runtime dependency (#26)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

chore: prepare release v0.2.1
  CHANGELOG.md
  pyproject.toml
Due: poetry-check, poetry-check-lock

docs: improve changelog
  CHANGELOG.md
Due: none

chore: pin dev dependencies in `pyproject.toml` and update Dependabot config
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

revert: chore: pin dev dependencies in `pyproject.toml` and update Dependabot config
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

ci: pin Poetry v1.5
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore: migrate Ruff config to v0.2.0
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

chore: use Ruff instead of Black/isort for formatting
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-check-lock

style: fix code formatting
  src/jinja2_jsonschema/extension.py
  tests/conftest.py
  tests/filter/test_inline.py
  tests/filter/test_local.py
  tests/filter/test_remote.py
  tests/filter/utils.py
  tests/test/test_inline.py
  tests/test/test_local.py
  tests/test/test_remote.py
  tests/test/utils.py
  tests/test_extension.py
  tests/utils.py
Due: black, isort, mypy

ci: fix checks for Python 3.7 on macOS
  .github/workflows/tests.yml
Due: none
