Repository copier-org/jinja2-jsonschema: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, poetry-check, poetry-check-lock

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

poetry-check-lock:
  name: poetry-check-lock
  entry: poetry lock --check
  language: system
  pass_filenames: false

chore(deps): update dependency ruff to v0.11.12
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency mypy to v1.16.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.7.9
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): lock file maintenance
  uv.lock
Due: none

chore(deps): update dependency pytest to v8.4.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.7.10
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.7.11
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.11.13
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.7.12
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.7.13
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency pytest-cov to v6.2.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency mypy to v1.16.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency pytest to v8.4.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency ruff to v0.12.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore: disable Ruff PLC0415 for importing from `yaml` outside top-level
  src/jinja2_jsonschema/extension.py
Due: mypy

chore(deps): update dependency ruff to v0.12.0
  pyproject.toml
  src/jinja2_jsonschema/extension.py
  uv.lock
Due: mypy, poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.7.14
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.7.15
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.12.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.7.16
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.7.17
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
  poetry-check-lock: any of: ^pyproject.toml|poetry.lock$
