Repository copier-org/jinja2-jsonschema: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, poetry-check, poetry-check-lock

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

poetry-check-lock:
  name: poetry-check-lock
  entry: poetry lock --check
  language: system
  pass_filenames: false

chore(deps): update dependency uv to v0.11.29
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.15.22
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update actions/setup-python action to v7
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.11.30
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update astral-sh/setup-uv action to v9
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency pre-commit to v4.6.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency ruff to v0.16.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.11.32
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency types-pyyaml to v6.0.12.20260724
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.0
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.16.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.1
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore: fix Ruff linter errors
  pyproject.toml
  tests/conftest.py
Due: mypy, poetry-check, poetry-check-lock

chore(deps): lock file maintenance
  uv.lock
Due: none

chore(deps): update dependency uv to v0.12.2
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.16.2
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.3
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency pre-commit to v4.6.2
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update astral-sh/setup-uv action to v10
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.16.3
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update astral-sh/setup-uv action to v10.0.1
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.12.5
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency mypy to v2.3.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency types-pyyaml to v6.0.12.20260815
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency ruff to v0.16.4
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.6
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.16.5
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.9
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.16.6
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.10
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency types-pyyaml to v6.0.12.20260906
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.12
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.16.7
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.12.13
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update astral-sh/setup-uv action to v10.1.0
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
  poetry-check-lock: any of: ^pyproject.toml|poetry.lock$
