Repository copier-org/jinja2-jsonschema: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, poetry-check, poetry-check-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        args: [--force-exclude]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: ruff-check
        name: ruff lint
        entry: ruff check
        args: [--force-exclude, --fix]
        language: system
        require_serial: true
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types: [python]

      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

      - id: poetry-check-lock
        name: poetry-check-lock
        entry: poetry lock --check
        language: system
        pass_filenames: false
        files: ^pyproject.toml|poetry.lock$

      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: check for merge conflicts
        entry: check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

chore(renovate): disabled `pyenv` manager
  renovate.json
Due: none

chore(renovate): add more PR labels
  renovate.json
Due: none

chore(renovate): use `config:recommended` preset
  renovate.json
Due: none

chore(deps): update dependency uv to v0.4.24
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.7.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

build(typing): move type alias into type-checking block
  src/jinja2_jsonschema/extension.py
Due: mypy

chore(deps): update dependency mypy to v1.12.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.4.25
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency mypy to v1.13.0
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.4.26
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.7.1
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.4.27
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(uv): migrate to PEP 735 dependency-groups
  pyproject.toml
Due: poetry-check, poetry-check-lock

docs: improve changelog
  CHANGELOG.md
Due: none

chore(deps): update dependency uv to v0.4.28
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency pytest-cov to v6
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.4.29
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.7.2
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): lock file maintenance
  uv.lock
Due: none

chore(deps): update dependency uv to v0.4.30
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency uv to v0.5.0
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore(deps): update dependency ruff to v0.7.3
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-check-lock

chore(deps): update dependency uv to v0.5.1
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none
